<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= player.display_name %>
  </p>

  <p>
    <strong>Use display name:</strong>
    <%= player.use_display_name %>
  </p>

</div>
