<div id="<%= dom_id player %>">
  <%# TODO Implement a system that shows the username and display name in a sensible way, based on the use display name flag.%>
  <p>
    <strong>Username:</strong>
    <%= player.username %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= player.display_name %>
  </p>

  <p>
    <strong>Use display name:</strong>
    <%= player.use_display_name %>
  </p>

</div>
